*{
    margin: 0;
    padding: 0;
    width: 1000px;
    margin: 0 auto;
}
.overflow{
    overflow: hidden;
}
.header-area{
  background-color: #ff8080;
  padding:20px 0;
}
.header-row{
    width: 1000px;
    margin: 0 auto;
    background-color: #66ffcc;
    height: 350px;
    position: relative;
  
}
.header-area-image{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #000;
    margin: 20px 0 0 40px ;
}
.header-area-image img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.header-area-intro{
    float: left;
    line-height: 40px;
    font-size: 30px;
    color: #ff8080;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-transform: capitalize;
    margin: 20px 0 0 40px;
}
.header-area-intro span{
    color: black;
    margin-left: 15px;
    font-size: 20px;
}

.header-area-hello{
    position: absolute;
    top: 75%;   
    left: 50%;
    margin: 40px;
    font-size: 90px;
   z-index: 999;
}
.header-area-para{
    font-size: 15px;
    color: black;
    position: absolute;
    top: 10%;   
    right: 30%; 
    width: 400px;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    line-height: 30px;
   
}
.social-media{
    position: absolute;
    top: 10%;   
    left:69%; 
  width: 320px;
}
.social-media a{
    text-decoration:none;
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: 100;
}
.fab{
    padding: 20px;
    font-size:20px;
    padding:10px;
    background-color: #ff8080;
    text-align:center;
    width: 30px;
    margin:10px;
}

.main-area{
   
   
}
.main-parts{
    margin: 0 auto;
     width: 1200px;
     
}
.part{
    height: 1500px;
    width:500px;
    float: left;
  
}
.part-one{
    background-color: #d9d9d9;
    position: relative;
}

.margin{
    width: 20px;
    height: 1100px;
    margin: 50px;
    border-radius: 50px;
}
.contact{
    width: 500px;
    position: absolute;
    left: 15%;
    top: 5%;
}

.contact h1{
    font-size: 30px;
    display: contents;
    font-family: 'Merriweather', serif;  
}
.fa-id-badge{
    border-radius: 50px;
    background-color: #66ffcc;
    font-size: 30px;
    width: 50px;
    height: 30px;
    padding: 5px;
    text-align: center;
    margin: 10px;
}
.partone-col{
    font-size: 15px;
    font-family: 'Merriweather', serif;
    padding: 5px;
    width: 270px; 
}
.personal-profile{
    width: 500px;
    position: absolute;
    left: 15%;
    top: 5%;
    
}
.personal-profile  h1{
    font-size: 30px;
    display: contents;
    font-family: 'Merriweather', serif;  
}
.profile{
    line-height: 30px;
}
.skill-area{
    width: 400px;
    float: left;
    position: absolute;
    left: 15%;
    top: 50%;
    
}
.skill-area h1{
    font-size: 30px;
    display: contents;
    font-family: 'Merriweather', serif;  
}
.skill{
    width: 400px;
    position: relative;
}
.skill h2{
    float: left;
    font-size: 15px;
    font-family:'Merriweather', serif;  
    text-transform: capitalize;
    font-weight: 100;
    margin: 30px 5px 0 10px;
}
.skill-one{
    background-color: #66ffcc;
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right: 60px;
    top: 30px;
}
.skill-bar{
    background-color: #ff8080;
    height: 20px;
    float: left;
}
.one{
    width: 80%;
}
.skill-two{
    background-color: #66ffcc;
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right: 60px;
    top: 80px;
}
.two{
    width: 75%;
}
.skill-three{
    background-color: #66ffcc;
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right:60px;
    top: 130px;
}
.three{
    width: 20%;
}
.skill-four{
    background-color: #66ffcc;
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right:60px;
    top: 190px;
}
.four{
    width: 25%;
}
.part-two{
    background-color: #ff8080;
    position: relative;
}
.fa-book-reader{
    border-radius: 50px;
    background-color: #d9d9d9;
    font-size: 30px;
    width: 50px;
    height: 30px;
    padding: 5px;
    text-align: center;
    margin: 10px;
}
.education{
    width: 500px;
    position: absolute;
    left: 15%;
    top: 5%;
}
.education h1{
    font-size: 30px;
    display: contents;
    font-family: 'Merriweather', serif;  
}
.fa-circle{
    color: #66ffcc;
  position: absolute;
  top:20%;
  left: 15%;
}
.circle-2{
    color: #66ffcc;
  position: absolute;
  top:60%;
  left: 15%;
}

.parttwo-col{
    width: 300px;
    font-size: 15px;
    font-family: 'Merriweather', serif;
   margin-bottom: 40px;
    font-weight: 100;
}

.language-area{
    width: 400px;
    float: left;
    position: absolute;
    left: 15%;
    top: 30%;
    
}
.language-area h1{
    font-size: 30px;
    display: contents;
    font-family: 'Merriweather', serif;  
}
.language{
    width: 400px;
    position: relative;
}
.language h2{
    float: left;
    font-size: 15px;
    font-family:'Merriweather', serif;  
    text-transform: capitalize;
    font-weight: 100;
    margin: 30px 5px 0 10px;
}
.language-one{
    background-color: #d9d9d9;
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right: 60px;
    top: 30px;
}
.language-bar{
    background-color: #66ffcc;
    height: 20px;
    float: left;
}
.five{
    width: 75%;
}
.language-two{
    background-color: #d9d9d9;
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right: 60px;
    top: 80px;
}
.six{
    width: 50%;
}
.language-three{
    background-color: #d9d9d9;
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right:60px;
    top: 130px;
}
.seven{
    width: 80%;
}

.expertise-area{
    width: 600px;
    position: absolute;
    left: 15%;
    top: 50%;
    
}

.expertise-area h1{
    font-size: 30px;
    display: contents;
    font-family: 'Merriweather', serif;  
}
.expertise{
    position: relative;
}
.fa-chalkboard-teacher,.fa-keyboard,.fa-pen-alt,.fa-comments,.fa-business-time{
    font-size: 25px;
    color:#000;
    
}
.fa-chalkboard-teacher{
    position: absolute;
    left: 25%;
  
   
}
.fa-keyboard{
    position: absolute;
    left: 25%;
   
}
.fa-pen-alt{
    position: absolute;
    left: 25%;
  
}
.fa-comments{
    position: absolute;
    left: 25%;
    
}
.fa-business-time{
    position: absolute;
    left: 25%;
    
}
.expertise h2{
    margin: 35px;
    font-size: 15px;
    font-family:'Merriweather', serif; 
    text-transform: uppercase;
    font-weight:100;
}
